<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SampleClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <SampleClient.Properties.Settings>
      <setting name="AppKey" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AppSecret" serializeAs="String">
        <value>0Jo0JBfNrE2ScF2iDVPn</value>
      </setting>
      <setting name="RedirectUri" serializeAs="String">
        <value>http://client:13342/Account/OauthLogin</value>
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
    </SampleClient.Properties.Settings>
  </applicationSettings>
</configuration>
