
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Service Start</title>
</head>
    <body>
        <h1>Service is ON</h1>
    </body>
</html>
